@use './../../../styles/mixins/' as*;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 20px 24px;
  background-color: var(--c-yellow-green);
  color: var(--c-neutral-black);
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  text-transform: uppercase;
  border-radius: 100px;
  outline: 2px solid transparent;
  outline-offset: 3px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out, outline-color 0.3s ease-in-out;
  animation: fadePulse 1.5s infinite ease-in-out;

  @include rmax($md) {
    padding: 18px 16px;
  }

  &:not(.btn--disabled) {
    @include hover {
      background-color: var(--с-celery);
      color: var(--c-white);
    }

    &:active {
      background-color: rgba(211, 233, 122, 0.9);
      transform: scale(0.98);
    }
  }

  &:focus {
    outline-color: var(--c-white);
  }

  &.shake {
    animation: shake 0.4s infinite;
  }

  &--disabled {
    background-color: var(--c-neutral-offwhite);
    color: var(--c-white);
    cursor: not-allowed;
    opacity: 0.6;
  }

}

@keyframes shake {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(5px)
  }

  50% {
    transform: translateX(-5px)
  }

  75% {
    transform: translateX(5px)
  }

  100% {
    transform: translateX(0)
  }
}