<header class="header">
  <div class="container">
    <div class="header__inner">

      <nav class="nav">

        <include src="html/components/logo/_index.html"></include>
        <include src="html/components/burger/_index.html"></include>

        <ul class="header-menu">
          <li class="header-menu__item">
            <a class="header-menu__link" href="/index.html#hero">Home</a>
          </li>
          <li class="header-menu__item">
            <a class="header-menu__link" href="/about.html#about">About</a>
          </li>
          <li class="header-menu__item">
            <a class="header-menu__link" href="#footer">Contact</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>
</header>