<header class="header">
  <div class="container">
    <nav class="nav">

      <include src="html/components/logo/_index.html"></include>
      <include src="html/components/burger/_index.html"></include>

      <ul class="menu">
        <li>
          <a class="menu__link" href="/#projects">Work</a>
        </li>
        <li>
          <a class="menu__link" href="/#about">About</a>
        </li>
        <li>
          <a class="menu__link" href="/#footer">Contact</a>
        </li>
      </ul>

    </nav>
  </div>
</header>