<ul class="skills">
  <li>
    <a class="skills__item icon-bg icon-bg--html" href="https://developer.mozilla.org/en-US/docs/Web/HTML"
      target="_blank" rel="noreferrer"></a>
  </li>
  <li>
    <a class="skills__item icon-bg icon-bg--scss" href="https://sass-lang.com" target="_blank" rel="noreferrer"></a>
  </li>
  <li>
    <a class="skills__item icon-bg icon-bg--javascript" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
      target="_blank" rel="noreferrer"></a>
  </li>
  <li>
    <a class="skills__item icon-bg icon-bg--github" href="https://github.com" target="_blank" rel="noreferrer"></a>
  </li>
</ul>