@use './../../../styles/mixins/' as*;

.skills {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  &__item {
    display: flex;
    align-items: center;

    transition: transform 0.3s ease-in-out,
      background-color 0.3s ease-in-out,
      outline-color 0.3s ease-in-out,
      opacity 0.3s ease-in-out;

    &::before {
      width: 72px;
      height: 72px;
    }

    @include hover {
      transform: scale(1.2);

      // &::before {
      //   background-color: var(--c-white);
      // }
    }

    &:focus {
      outline-color: var(--c-white);
    }

    &:active {
      opacity: 0.7;
    }

  }
}