@use '../../../../styles/mixins/' as*;

.projects {
  scroll-margin-top: 40px;

  & {
    @include size('padding-block', 80, 40);
  }

  &__text {
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;

    p {
      font-size: 18px;
    }
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;

    @include rmax($md) {
      grid-template-columns: 1fr;
    }
  }

  &__button {
    margin: auto;
  }
}