<div class="footer" id="footer">

  <div class="container">
    <div class="footer__inner">
      <div class="footer__group">

        <h2 class="footer__title title">
          Let’s connect
        </h2>

        <p class="footer__text">
          Say hello at
          <a class="footer__link color-white text-underline"
            href="mailto:tim.like.tea@gmail.com">tim.like.tea@gmail.com</a>
        </p>

        <p class="footer__text">
          For more info, here’s my
          <a class="footer__link color-white text-underline"
            href="https://drive.google.com/file/d/12LJkHwY3-etR4Jw31rBdCm331IuIeTyA/view?usp=sharing"
            target="_blank">resume</a>
        </p>

        <include src="html/components/social/_index.html"></include>

      </div>

      <form class="form" action="send_email.php" method="POST" id="contactForm">

        <label class="form__label" for="name">Name
          <input class="form__input" type="text" name="name" id="name" placeholder="Your name" autocomplete="name">
        </label>


        <label class="form__label" for="email">Email
          <input class="form__input" type="email" name="email" id="email" placeholder="Your email" autocomplete="email">
        </label>


        <label class="form__label" for="subject">Subject
          <input class="form__input" type="text" name="subject" id="subject" placeholder="Subject" autocomplete="off">
        </label>


        <label class="form__label form__margin" for="message">Message
          <textarea class="form__area" name="message" id="message" placeholder="Write your message"
            autocomplete="off"></textarea>
        </label>

        <button class="btn" type="submit">Submit</button>

      </form>

    </div>

    <a class="footer__author" href="https://www.figma.com/@sumn2u" target="_blank" rel="noreferrer">Design by Suman
      Kunwar</a>

  </div>

</div>