@use '../../../styles/mixins/' as*;

.footer {
  padding-block: 80px 20px;

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @include rmax($lg) {
      flex-direction: column;
    }
  }

  &__group {
    @include rmax($lg) {
      margin-bottom: 20px;
    }
  }

  &__text {
    font-size: 16px;
  }

  &__text:first-of-type {
    margin-bottom: 8px;
  }

  &__text:last-of-type {
    margin-bottom: 40px;

    @include rmax($lg) {
      margin-bottom: 16px;
    }
  }

  &__link {
    position: relative;

    @include hover {
      color: var(--c-yellow-green);
    }
  }

  &__author {
    font-size: 16px;
    transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out;
    outline: 2px solid transparent;
    outline-offset: 5px;

    @include hover {
      color: var(--c-yellow-green);
    }

    &:focus {
      outline-color: var(--c-white);
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 568px;
  width: 100%;

  &__label:not(:first-child) {
    margin-top: 24px;
  }

  &__label {
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.6;
  }

  &__area,
  &__input {
    padding: 12px 16px;
    background-color: var(--c-cod-gray);
    border-radius: 4px;
    outline: 2px solid transparent;
    outline-offset: 4px;
    transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &::placeholder {
      transition: color 0.3s ease-in-out;
    }

    &:hover::placeholder {
      color: var(--c-white);
    }

    @include hover {
      color: var(--c-yellow-green);
    }

    &:focus {
      outline-color: var(--c-white);
    }

    &:active {
      background-color: rgba(#ffffff, 0.2);
    }
  }

  &__input {
    color: var(--c-white);
  }

  &__area {
    margin-bottom: 40px;
    min-height: 156px;
    resize: none;
  }
}