@use '../../../../styles/mixins/' as*;

.capabilities {
  & {
    @include size('padding-block', 80, 40);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include rmax($lg) {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 600px;
    width: 100%;
  }
}