@use '../../../../styles/mixins/' as*;

.experience {
  & {
    @include size('padding-block', 80, 40);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include rmax($lg) {
      flex-direction: column;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}