@use '../../../styles/mixins/' as*;

.burger {
  display: none;
  min-width: 40px;
  height: 32px;
  position: relative;
  z-index: 10;
  color: var(--c-white);
  cursor: pointer;

  &.burger--active+.header-menu {
    @include rmax($md) {
      opacity: 1;
      left: 0;
    }
  }

  @include rmax($md) {
    display: block;
  }

  &::before,
  &::after {
    content: '';
  }

  &__line,
  &::before,
  &::after {
    position: absolute;
    left: 0;
    top: calc(50% - 2px);

    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition: 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - 2px);
  }

  &--active {

    .burger__line {
      transform: scale(0);
    }

    &::before,
    &::after {
      top: 50%;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

}