@use './../../../styles/mixins/' as*;

.social {
  display: flex;
  align-items: center;
  gap: 12px;

  @include rmax($lg) {
    margin-bottom: 16px;
  }

  &__link {
    padding: 12px;
    outline: 2px solid transparent;
    outline-offset: 1px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, outline-color 0.3s ease-in-out, opacity 0.3s ease-in-out;

    @include hover {
      transform: scale(1.2);

      &::before {
        background-color: var(--c-white);
      }
    }

    &:focus {
      outline-color: var(--c-white);
    }

    &:active {
      opacity: 0.7;
    }

  }
}