<ul class="social">
  <li>
    <a class="social__link icon-mask icon-mask--linkedin" href="https://www.linkedin.com/in/timur-marchenko/">
      <span class="sr-only">Go to linkedin page</span>
    </a>
  </li>
  <li>
    <a class="social__link icon-mask icon-mask--telegram" href="https://t.me/timliketea">
      <span class="sr-only">Go to github page</span>
    </a>
  </li>
  <li>
    <a class="social__link icon-mask icon-mask--github" href="https://github.com/timteaman">
      <span class="sr-only">Go to telegram page</span>
    </a>
  </li>
</ul>