@use './../../../styles/mixins/' as*;

.project-card {
  height: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: #1A1A1A;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  outline: 2px solid transparent;
  outline-offset: 5px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out, outline-color 0.3s ease-in-out;

  @include hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  }

  &:focus {
    outline-color: var(--c-white);
  }

  &:active {
    opacity: 0.5;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
  }

  @include rmax($md) {
    &__img {
      width: 100%;
    }
  }

  &__title {
    margin-block: 0 10px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4;
    color: var(--c-white);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__info {
    color: var(--c-white);
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 24px;

  &__anchor {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: fit-content;
    color: var(--c-yellow-green);
    outline: 2px solid transparent;
    outline-offset: 5px;
    border-radius: 5px;
    gap: 5px;
    transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out, opacity 0.3s ease-in-out;

    @include hover {
      color: var(--c-white);

      &::after,
      &::before {
        transition: background-color 0.3s ease-in-out;
        background-color: var(--c-white);
      }
    }

    &:focus {
      outline-color: var(--c-white);
    }

    &:active {
      opacity: 0.5;
    }
  }
}