<article class="project-card" data-link="{{linksDemo}}">

  <div class="project-card__inner">

    <img class="project-card__img" src="/src/assets/images/project-card/{{imgName}}.webp" alt="{{imageAlt}}"
      height="260" width="545">

    <div class="project-card__text">
      <h2 class="project-card__title">
        {{headerTitle}}
      </h2>
      <p>
        {{headerText}}
      </p>
    </div>

    <div class="project-card__wrapper">

      <span class="project-card__info">
        Project Info
      </span>

      <span class="project-card__year project-card__desc">
        <span class="color-white">Year:</span>
        {{cardYear}}
      </span>

      <span class="project-card__role project-card__desc">
        <span class="color-white">Role:</span>
        {{cardRole}}
      </span>
    </div>

    <ul class="links">
      <li>
        <a class="links__anchor icon-mask icon-mask--arrow text-underline" href="{{linksDemo}}" target="_blank">Live
          Demo</a>
      </li>
      <li>
        <a class="links__anchor icon-mask icon-mask--github text-underline" href="{{linksGithub}}" target="_blank">See
          on
          Github</a>
      </li>
    </ul>

  </div>
</article>