.icon-bg {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.icon-bg--javascript {
  &::before {
    background-image: url('/src/assets/icons/skills/javascript.svg');
  }
}

.icon-bg--scss {
  &::before {
    background-image: url('/src/assets/icons/skills/sass.svg');
  }
}

.icon-bg--html {
  &::before {
    background-image: url('/src/assets/icons/skills/html.svg');
  }
}

.icon-bg--github {
  &::before {
    background-image: url('/src/assets/icons/skills/github.svg');
  }
}

.icon-bg--react {
  &::before {
    background-image: url('/src/assets/icons/skills/react.svg');
  }
}