.icon-mask {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    width: 32px;
    height: 32px;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--c-yellow-green);
    transition: background-color 0.3s ease-in-out;
  }
}

.icon-mask--cv {
  &::before {
    mask-image: var(--icon-cv);
  }
}

.icon-mask--linkedin {
  &::before {
    mask-image: var(--icon-linkedin);
  }
}

.icon-mask--github {
  &::before {
    mask-image: var(--icon-github);
  }
}

.icon-mask--telegram {
  &::before {
    mask-image: var(--icon-telegram);
  }
}

.icon-mask--arrow {
  &::before {
    mask-image: var(--icon-arrow);
  }
}

:root {
  --icon-cv: url("data:image/svg+xml,%3Csvg%20fill%3D%22%23D3E97A%22%20viewBox%3D%220%200%201920%201920%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1251.654%200c44.499%200%2088.207%2018.07%20119.718%2049.581l329.223%20329.224c31.963%2031.962%2049.581%2074.54%2049.581%20119.717V1920H169V0Zm-66.183%20112.941H281.94V1807.06h1355.294V564.706H1185.47V112.94Zm112.94%2023.379v315.445h315.445L1298.412%20136.32Z%22%2F%3E%3Cpath%20d%3D%22M900.497%20677.67c26.767%200%2050.372%2012.65%2067.991%2037.835%2041.901%2059.068%2038.965%20121.976%2023.492%20206.682-5.308%2029.14.113%2058.617%2016.263%2083.125%2022.814%2034.786%2055.68%2082.673%2087.981%20123.219%2023.718%2029.93%2060.198%2045.854%2097.13%2040.885%2023.718-3.276%2052.292-5.986%2081.656-5.986%20131.012%200%20121.186%2046.757%20133.045%2089.675%206.55%2025.976%203.275%2048.678-10.165%2065.506-16.715%2022.701-51.162%2034.447-101.534%2034.447-55.793%200-74.202-9.487-122.767-24.96-27.445-8.81-55.906-10.617-83.69-3.275-55.453%2014.456-146.936%2036.48-223.284%2046.983-40.772%205.647-77.816%2026.654-102.438%2060.875-55.454%2076.8-106.842%20148.518-188.273%20148.518-21.007%200-40.32-7.567-56.244-22.701-23.492-23.492-33.544-49.581-28.574-79.85%2013.778-92.95%20128.075-144.79%20196.066-182.625%2016.037-8.923%2028.687-22.589%2036.592-39.53l107.86-233.223c7.68-16.377%2010.051-34.56%207.228-52.518-12.537-79.059-31.06-211.99%2018.748-272.075%2010.955-13.44%2026.09-21.007%2042.917-21.007Zm20.556%20339.953c-43.257%20126.607-119.718%20264.282-129.996%20280.32%2092.273-43.37%20275.916-65.28%20275.916-65.28-92.386-88.998-145.92-215.04-145.92-215.04Z%22%2F%3E%3C%2Fsvg%3E");

  --icon-linkedin: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M6.644%209.59602C8.2552%209.59602%209.56134%208.28988%209.56134%206.67869C9.56134%205.06749%208.2552%203.76135%206.644%203.76135C5.0328%203.76135%203.72667%205.06749%203.72667%206.67869C3.72667%208.28988%205.0328%209.59602%206.644%209.59602Z%22%20fill%3D%22%23D3E97A%22%2F%3E%0A%3Cpath%20d%3D%22M12.316%2011.8067V27.992H17.3413V19.988C17.3413%2017.876%2017.7387%2015.8307%2020.3573%2015.8307C22.94%2015.8307%2022.972%2018.2453%2022.972%2020.1213V27.9933H28V19.1173C28%2014.7573%2027.0613%2011.4067%2021.9653%2011.4067C19.5187%2011.4067%2017.8787%2012.7493%2017.208%2014.02H17.14V11.8067H12.316ZM4.12666%2011.8067H9.16V27.992H4.12666V11.8067Z%22%20fill%3D%22%23D3E97A%22%2F%3E%0A%3C%2Fsvg%3E%0A");

  --icon-github: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M16.0347%202.66669C8.68933%202.66669%202.73599%208.62002%202.73599%2015.9654C2.73599%2021.84%206.54533%2026.8254%2011.8307%2028.5854C12.496%2028.7054%2012.736%2028.296%2012.736%2027.944C12.736%2027.628%2012.7253%2026.7907%2012.7213%2025.6827C9.02133%2026.4854%208.23999%2023.8987%208.23999%2023.8987C7.63733%2022.3627%206.76399%2021.9534%206.76399%2021.9534C5.55733%2021.128%206.85599%2021.1467%206.85599%2021.1467C8.19199%2021.24%208.89199%2022.5174%208.89199%2022.5174C10.0787%2024.5494%2012.0067%2023.9627%2012.7613%2023.6227C12.8827%2022.7627%2013.2293%2022.176%2013.608%2021.844C10.656%2021.5094%207.55199%2020.368%207.55199%2015.2707C7.55199%2013.8214%208.07066%2012.632%208.91733%2011.704C8.78266%2011.3667%208.32266%2010.0134%209.04933%208.18402C9.04933%208.18402%2010.1653%207.82535%2012.7053%209.54535C13.7901%209.25025%2014.9091%209.09961%2016.0333%209.09735C17.1576%209.09918%2018.2766%209.24982%2019.3613%209.54535C21.9027%207.82402%2023.0173%208.18402%2023.0173%208.18402C23.744%2010.0134%2023.288%2011.3667%2023.1493%2011.704C24.0027%2012.632%2024.5147%2013.82%2024.5147%2015.2707C24.5147%2020.3814%2021.408%2021.504%2018.4453%2021.8334C18.9187%2022.244%2019.3453%2023.0547%2019.3453%2024.2947C19.3453%2026.0734%2019.3293%2027.508%2019.3293%2027.944C19.3293%2028.3%2019.5667%2028.7134%2020.2453%2028.5827C25.528%2026.82%2029.3333%2021.8387%2029.3333%2015.9654C29.3333%208.62002%2023.38%202.66669%2016.0347%202.66669Z%22%20fill%3D%22%23D3E97A%22%2F%3E%0A%3C%2Fsvg%3E%0A");

  --icon-telegram: url("data:image/svg+xml,%3Csvg%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m16%20.5c-8.563%200-15.5%206.938-15.5%2015.5s6.938%2015.5%2015.5%2015.5c8.563%200%2015.5-6.938%2015.5-15.5s-6.938-15.5-15.5-15.5zm7.613%2010.619-2.544%2011.988c-.188.85-.694%201.056-1.4.656l-3.875-2.856-1.869%201.8c-.206.206-.381.381-.781.381l.275-3.944%207.181-6.488c.313-.275-.069-.431-.482-.156l-8.875%205.587-3.825-1.194c-.831-.262-.85-.831.175-1.231l14.944-5.763c.694-.25%201.3.169%201.075%201.219z%22%2F%3E%3C%2Fsvg%3E");

  --icon-arrow: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url%28%23clip0_7_108%29%22%3E%3Cpath%20d%3D%22M5.9897%2019.2176L16.3036%208.90369V16.3891L18.3033%2016.3891L18.3033%205.48978L7.40391%205.48978L7.40391%207.48948L14.8893%207.48948L4.57549%2017.8033L5.9897%2019.2176Z%22%20fill%3D%22%23D3E97A%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_7_108%22%3E%3Crect%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22white%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}