:root {
  --ff-primary: 'Manrope', sans-serif;
  --ff-secondary: 'BebasNeue', sans-serif;

  --c-neutral-black: #0A0A0A;
  --c-black: #000000;
  --c-cod-gray: #1A1A1A;
  --c-neutral-offwhite: #C7C7C7;
  --c-yellow-green: #D3E97A;
  --с-celery: #b5d164;
  --c-white: #ffffff;
  --c-tundora: #484848;

}